[Unit]
Description=TogetherJS Hub
Requires=network.target
After=network.target systemd-user-sessions.service

[Service]
User=www-data
ExecStart=/usr/local/bin/togetherjs.sh
Restart=always

[Install]
WantedBy=multi-user.target
